body {
  box-sizing: border-box;
}

section#members {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

section#members > h2 {
  display: block;
  text-align: center;
}

.members-container {
  display: flex;
  min-width: 600px;
  width: 50%;
  justify-content: space-around;
}

.members-container > .member {
  width: 200px;
}

.members-container > .member > img {
  width: 100%;
}

.members-container > .member > .name {
  text-align: center;
  font-weight: bold;
}